:root {
    --primary-color: #01bfd9;
    --soft-primary: #72dcea;
    --secondary-color: #0083f5;
    --light-color: #dff7fb;
    --accent-color: #6F2DBD;
    --warm-black: #201e1c;
    --black: #282623;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.max-width {
    max-width: 1300px;
    padding: 0 8rem;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: var(--secondary-color);
    font-size: 1.6rem;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: var(--just-white);
    font-size: 2.5rem;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: var(--just-white);
}